<div
  class="page-container character-detail-page pt-6 pb-12 px-4 md:px-6 lg:px-8"
>
  <div *ngIf="loading" class="text-center py-10">
    <!-- Mejorado mensaje de carga -->
    <div class="loader"></div>
    <p class="mt-2 text-lg">Cargando detalles del personaje...</p>
  </div>

  <ng-container *ngIf="!loading && character">
    <div class="action-bar mb-6">
      <!-- Clase para agrupar botones de acción -->
      <button (click)="volver()" type="button" class="btn-secondary">
        <!-- Estilo de botón volver -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 mr-2 inline-block"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z"
            clip-rule="evenodd"
          />
        </svg>
        Volver
      </button>
    </div>

    <!-- Contenedor principal para el detalle del personaje -->
    <div
      class="character-detail-content bg-marvel-charcoal p-6 md:p-8 rounded-lg shadow-xl"
    >
      <div class="character-content-grid">
        <!-- Grid para imagen e info -->
        <div class="character-image-main-container">
          <img
            [src]="character.thumbnail.path + '.' + character.thumbnail.extension"
            [alt]="character.name"
            class="character-main-image"
          />
        </div>

        <div class="character-info">
          <h1 class="character-title">{{ character.name }}</h1>

          <div class="character-description mt-4">
            <ng-container *ngIf="character.description; else sinDesc">
              <p>{{ character.description }}</p>
            </ng-container>
            <ng-template #sinDesc>
              <p class="no-description-text">Sin descripción disponible.</p>
            </ng-template>
          </div>

          <div
            class="character-section mt-8"
            *ngIf="character.comics && character.comics.items && character.comics.items.length > 0"
          >
            <h3 class="section-title">Cómics</h3>
            <ul class="info-list">
              <li *ngFor="let comic of character.comics.items">
                {{ comic.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <div *ngIf="!loading && !character" class="text-center py-10">
    <!-- Mensaje si no se encuentra el personaje -->
    <p class="text-xl text-marvel-text-secondary">Personaje no encontrado.</p>
    <p class="mt-2 text-sm text-gray-500">
      Parece que este héroe o villano se ha desvanecido...
    </p>
  </div>
</div>
